<% include ./partials/header.ejs %>

    <h1 class="text-center"><%= title %></h1>

    <form method="get">
      <div class="form-group">
        <div class="block">
            <input type="text" class="form-control" id="pin" name="pin" placeholder="4 digit PIN # Linked with your child" aria-describedby="basic-addon1">
        </div>
        <% if(typeof Camper != 'undefined'){ %>
        <%= Camper.email %>
        <% } %>
      </div>
       <button id="signinchild" type="button" class="btn btn-primary">Sign In Chld</button>
       <br>
       <a href="/">Return to homepage</a>
    </form>

<% include ./partials/successModal.ejs %>

<% include ./partials/footer.ejs %>
